.hr-estyles{
    background: #9C9C9CBD;
    border-top: 2px solid #ccc;
    margin-top: 14px;
    margin-bottom: 14px;
  
  }
  .violeta{
    background: rgba(83, 90, 162, 1);
    width: 123px;
    height: 46px;
    top: 536px;
    left: 320px;
    border-radius: 8px;
  
  
  }
  h1{
    font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #1E1E1E;
  width: 85px;
  height: 23px;
  
  }
  tbody{
    background: #FAFAFA;
  
  }
  