.hr-estyles{
  background: #9C9C9CBD;
  border-top: 2px solid #ccc;
  margin-top: 14px;
  margin-bottom: 14px;

}
.violeta{
  background: rgba(83, 90, 162, 1);
  width: 123px;
  height: 46px;
  top: 536px;
  left: 320px;
  border-radius: 8px;


}
