<app-navbar></app-navbar>



<header class=" flex justify-center pt-4  h-3/5 ">
    <div class="flex flex-row  w-11/12  h-100 rounded-lg " style="background-image: url('./../../../../../assets/img/banneer2.png');">

        <div class=" bg-purple-300 bg-opacity-40  w-screen	 h-100 flex flex-col justify-center items-start cabeza   ">
           
            <div class=" ml-24">

                <h1 class="text-white text-xl	 font-poppins font-bold">Fácil, rápido y seguro:</h1>
                <p class="text-white text-md font-poppins">Ingresa tus datos y solicita tu préstamo
                    desde la comodidad de tu hogar!</p>
                <button type="button" class="text-white violeta font-poppins hover:bg-violet-700 focus:ring-4 focus:outline-none focus:ring-violet-700 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0"  routerLink="calculadora">Solicitar préstamo</button>

            </div>    

        </div>
        
    </div>
</header>



<article class=" flex justify-center pt-4  h-3/5">
    <div class="  w-11/12 h-100 flex flex-col pt-8 items-center bg-custom-color">
        <h1 class="  font-poppins text-[rgba(0, 0, 0, 1)]  title1">¿Cómo solicito un préstamo?</h1>
        <div class=" flex flex-row flex space-x-7 w-full h-60 items-center justify-center mt-4">
            <section class="w-1/5 h-80  flex flex-col items-center">
                <img src="./../../../../../assets/img/personaje1.png" class="h-72 w-screen mt-1" alt="" />
                <p class="text-xl font-poppins">Ingresa tus datos</p>
            </section>
            <section class="w-1/5 h-80  flex flex-col items-center">
                <img src="./../../../../../assets/img/personaje2.png" class="h-72 w-screen mt-1" alt="" />
                <p class="text-xl font-poppins">Valida tu identidad</p>

            </section>
            <section class="w-1/5 h-80   flex flex-col items-center">
                <img src="./../../../../../assets/img/personaje3.png" class="h-72 w-screen mr-3" alt="" />
                <p class="text-xl font-poppins">Recibe lo que deseas</p>
            </section>
        </div>
    </div>
</article>
<article class="  flex justify-center pt-2  h-full mt-4">
    <div class="   w-11/12 h-5/6 flex flex-col pt-2 items-center">
        <h1 class="  font-poppins text-[rgba(0, 0, 0, 1)]  title1 ">Ventajas de nuestros préstamos </h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 place-content-stretch w-5/6  content-center">
            <div class="  w-full h-60 flex flex-col justify-center items-center  bg-white border-2 rounded-md  border-gray-50  drop-shadow-2xl">
                <i class="fa-solid fa-bolt" style="color: #787eba; font-size: 40px;"></i>
                <h1 class="text-lg font-poppins bolt font-bold ">Es rápido</h1>
                <p class="font-poppins text-lg font-normal leading-6 tracking-normal text-center">Un asesor se
                    comunicará contigo</p>
            </div>
            <div class=" w-full h-60 flex flex-col justify-center items-center  bg-white border-2 rounded-md  border-gray-50  drop-shadow-2xl">
                <i class="fa-solid fa-shield" style="color: #787eba; font-size: 40px;"></i>
                <h1 class="text-lg font-poppins bolt font-bold ">Es seguro</h1>
                <p class="font-poppins text-lg font-normal leading-6 tracking-normal text-center">Tus datos están
                    protegidos</p>
            </div>
            <div class=" w-full h-60 flex flex-col justify-center items-center  bg-white border-2 rounded-md  border-gray-50  drop-shadow-2xl">
                <i class="fa-solid fa-globe" style="color: #787eba; font-size: 40px;"></i>
                <h1 class="text-lg font-poppins bolt font-bold ">Es 100% online</h1>
                <p class="font-poppins text-lg font-normal leading-6 tracking-normal text-center">Pídelo desde tu hogar
                </p>
            </div>
            <div class="w-full h-60 flex flex-col justify-center items-center  bg-white border-2 rounded-md  border-gray-50  drop-shadow-2xl">
                <i class="fa-solid fa-clock" style="color: #787eba; font-size: 40px;"></i>
                <h1 class="text-lg font-poppins bolt font-bold ">Las tasas más bajas</h1>
                <p class="font-poppins text-lg font-normal leading-6 tracking-normal text-center">Los intereses más
                    bajos del
                    mercado, aquí</p>
            </div>
            <div class="w-full h-60 flex flex-col justify-center items-center  bg-white border-2 rounded-md  border-gray-50  drop-shadow-2xl">
                <i class="fa-solid fa-dollar-sign" style="color: #787eba; font-size: 40px;"></i>

                <h1 class="text-lg font-poppins bolt font-bold ">Pagos fijos</h1>
                <p class="font-poppins text-lg font-normal leading-6 tracking-normal text-center">Abona el mismo monto
                    todos los meses</p>
            </div>
            <div class="w-full h-60 flex flex-col justify-center items-center  bg-white border-2 rounded-md  border-gray-50  drop-shadow-2xl">
                <i class="fa-solid fa-check-double" style="color: #787eba; font-size:40px;"></i>
                <h1 class="text-lg font-poppins bolt font-bold ">Plazos flexibles</h1>
                <p class="font-poppins text-lg font-normal leading-6 tracking-normal text-center">Elige el plan de pago
                    perfecto para ti</p>
            </div>
        </div>
    </div>
</article>


<article class=" flex justify-center pt-6 md:pt-6  w-full h-3/4">
    <div class="  w-11/12 h-full flex flex-col pt-2 items-center ">
        <div class=" flex flex-col flex   w-full h-100 items-center justify-center gap-2 mt-4">
            <section class="w-5/6 h-full  flex flex-row items-center bg-white border-2 rounded-md  border-gray-50  drop-shadow-2xl">
                <div class=" w-32 h-34 flex justify-end items-end mb-12 mr-4  ">
                    <img class="inline-block h-16 w-16 rounded-full  " src="./../../../../../assets/img/cliente1.png"
                        alt="" />
                </div>
                <div class="w-4/5 ">


                    <h1 class=" font-poppins title2  h-2 ">Andrés </h1>
                    <div class="flex items-center   mb-3">
                        <svg class="w-4 h-4 text-black-300 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-black-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-black-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-black-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-black-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>

                    </div>

                    <p class="font-poppins text-justify  ">¡Increíble experiencia! Esta página web de la financiera es
                        extremadamente fácil de usar. Solicitar un préstamo
                        nunca fue tan sencillo. El formulario de solicitud fue directo al grano y me guió paso a paso.
                        Además, la calculadora
                        de préstamos me permitió jugar con diferentes opciones antes de decidirme. Recibí
                        actualizaciones sobre mi solicitud
                        en la página de estado y me
                        sentí informado en todo momento. Definitivamente recomendaré esta plataforma a mis amigos y
                        familiares.
                    </p>

                </div>
            </section>
            <section class="w-5/6 h-full  flex flex-row items-center bg-white border-2 rounded-md  border-gray-50  drop-shadow-2xl">
                <div class=" w-32 h-34 flex justify-end items-end mb-12 mr-4  ">
                    <img class="inline-block h-16 w-16 rounded-full  " src="./../../../../../assets/img/cliente2.png"
                        alt="" />
                </div>
                <div class=" w-4/5 ">
                    <h1 class=" font-poppins title2  h-2 ">Lucía </h1>
                    <div class="flex items-center   mb-3">
                        <svg class="w-4 h-4 text-black-300 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-black-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-black-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-black-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-gray-300   dark:text-gray-500 mr-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                    </div>
                    <p class="font-poppins text-justify  ">Esta página web es muy útil para obtener préstamos rápidos.
                        La calculadora de préstamos fue especialmente útil para entender mejor los costos y plazos
                        asociados. La solicitud de préstamo fue sencilla, pero me hubiera gustado ver más opciones de
                        plazo. El proceso de autenticación también fue fluido,
                        y me alegra tener una página de estado para seguir mi solicitud.
                    </p>
                </div>
            </section>
            <section class="w-5/6 h-full  flex flex-row items-center bg-white border-2 rounded-md  border-gray-50  drop-shadow-2xl">
                <div class=" w-32 h-34 flex justify-end items-end mb-1 mr-4  ">
                    <img class="inline-block h-16 w-16 rounded-full  " src="./../../../../../assets/img/cliente3.png"
                        alt="" />
                </div>
                <div class=" w-4/5 ">
                    <h1 class=" font-poppins title2  h-2 ">Fabrizio </h1>
                    <div class="flex items-center  mb-3">
                        <svg class="w-4 h-4 text-black-300 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-black-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-black-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-black-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-black-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>

                    </div>

                    <p class="font-poppins text-justify ">Solicitar un préstamo nunca fue
                        tan fácil. Tasas claras, proceso rápido y excelente atención al cliente. </p>

                </div>
            </section>


        </div>
    </div>
</article>
<app-footer></app-footer>