<app-navbar></app-navbar>

<header class=" flex justify-center pt-4  h-3/5 ">
    <div class="flex flex-row  w-11/12  h-100 rounded-lg  bg-cover"
        style="background-image: url('./../../../../../assets/img/equipo2.jpg');">

        <div class="  w-screen	 h-100 flex flex-col justify-center items-end cabeza   ">

            <div class=" flex flex-col justify-center w-96 mr-20 ">

                <h1 class="text-white text-xl	 font-poppins font-semibold">Sobre Nosotros</h1>
                <p class="text-white text-md font-poppins">En CashNow, nuestra misión es hacer que el acceso a
                    financiamiento sea rápido, sencillo y accesible para todos. Fundada en 2023, nos hemos comprometido
                    a transformar la forma en que las personas obtienen préstamos, ofreciendo una experiencia
                    completamente en línea que elimina las barreras tradicionales y acelera el proceso.</p>

            </div>

        </div>

    </div>
</header>


<div class="  w-full flex flex-row pt-8  items-around ml-20    h-full">
    <div class=" flex flex-row justify-start  w-full h-screen  ">
        <div class="  w-11/12 h-100   flex flex-col  items-center justify-center ">

            <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 place-content-stretch w-5/6  content-center">
                <div class="  w-full h-72 flex flex-col justify-center items-center  bg-white border-2 rounded-md  border-gray-50 drop-shadow-md ">
                    <h1 class="text-dark text-xl	 font-poppins font-semibold">Nuestra Visión</h1>
                    <p class="text-dark text-sm text-justify font-poppins">En un mundo donde las necesidades financieras son diversas y cambiantes, creemos en la importancia de brindar soluciones flexibles y personalizadas para nuestros clientes. Queremos ser la primera opción cuando se trata de satisfacer esas necesidades, al proporcionar una plataforma segura
                         y confiable que empodere a las personas a lograr sus objetivos financieros.</p>
        

                </div>
                <div class=" w-full h-72 flex flex-col justify-center items-center  bg-white border-2 rounded-md  border-gray-50 drop-shadow-md  ">
                    <h1 class="text-dark text-xl	 font-poppins font-semibold">Nuestro Compromiso con la Transparencia</h1>
                    <p class="text-dark text-sm text-justify font-poppins">Entendemos que tomar decisiones financieras es una parte crucial
                        de la vida de cada persona, y creemos en la importancia de la transparencia en cada paso del proceso. En
                        CashNow, no ocultamos costos ni sorpresas. Nuestra aplicación y sitio web están diseñados para que los
                        usuarios comprendan claramente
                        los términos y condiciones de sus préstamos antes de tomar una decisión.</p>
        
    
                </div>
                <div class=" w-full h-72 flex flex-col justify-center items-center  bg-white border-2 rounded-md  border-gray-50  drop-shadow-md">
                    <h1 class="text-dark text-xl	 font-poppins font-semibold">Tecnología de Vanguardia</h1>
                    <p class="text-dark text-sm text-justify font-poppins">Estamos en constante evolución para ofrecer la mejor experiencia
                        posible. Nuestro equipo de desarrolladores trabaja incansablemente para mejorar nuestra plataforma,
                        garantizando la seguridad de los datos y la comodidad de nuestros usuarios. Utilizamos las últimas
                        tecnologías para
                        garantizar que nuestras operaciones sean seguras, eficientes y rápidas.</p>
        

                </div>
                <div class=" w-full h-72 flex flex-col justify-center items-center  bg-white border-2 rounded-md  border-gray-50 drop-shadow-md ">
                    <h1 class="text-dark text-xl	 font-poppins font-semibold">Equipo de Expertos</h1>
            <p class="text-dark text-sm text-justify font-poppins">Detrás de CashNow, hay un equipo de profesionales apasionados por
                la tecnología financiera y el servicio al cliente. Nuestros expertos en préstamos están disponibles para
                responder a tus preguntas y brindarte asesoramiento personalizado. Estamos comprometidos con
                tu éxito financiero y estamos aquí para ayudarte en cada paso del camino.</p>

                </div>
                <div class=" w-full h-72 flex flex-col justify-center items-center  bg-white border-2 rounded-md  border-gray-50  drop-shadow-md">
                    <h1 class="text-dark text-xl	 font-poppins font-semibold">Nuestra Comunidad</h1>
                    <p class="text-dark text-sm text-justify	 font-poppins">En CashNow, valoramos a nuestros clientes y los consideramos parte
                        de nuestra comunidad. Creemos en la importancia de construir relaciones a largo plazo basadas en la
                        confianza mutua. Cuando te unes a nosotros, no solo obtienes un préstamo, sino que te conviertes en
                        parte de una red
                        de individuos que trabajan juntos para alcanzar sus metas financieras.</p>
        

                </div>
            </div>
    
    
        </div>
     
    </div>

</div>

<app-footer></app-footer>