<app-navbar></app-navbar>
<div class="container mx-auto mb-8 mt-2">
  <div class="flex flex-col lg:flex-row h-screen">
    <div class="lg:w-1/5  p-4 mt-2 content-evenly">
      <!-- Links -->
      <a routerLink="/home/general" class="block link-item hover:bg-indigo-500 hover:text-white px-2 py-1 rounded transition-colors">Datos generales</a>

      <a routerLink="/home/informeLa" class="block link-item hover:bg-indigo-500 hover:text-white px-2 py-1 rounded transition-colors">Información laboral</a>

      <a routerLink="/home/garante" class="block link-item hover:bg-indigo-500 hover:text-white px-2 py-1 rounded transition-colors">Garante</a>

      <a routerLink="/home/confirm" class="block link-item hover:bg-indigo-500 hover:text-white px-2 py-1 rounded transition-colors">Confirmación</a>

      <!-- ... Agrega más links aquí ... -->
    </div>
    <div class="space-y-12 lg:w-4/5 p-4 space-y-4">

      <form [formGroup]="generalForm" class="lg:w-4/5 p-4">
        <h1 class="mb-2">Datos generales</h1>
        <!-- <hr class=" hr-estyles"> -->
        <hr class="my-2 h-1 border-t-0 bg-neutral-100 opacity-100 dark:opacity-100" />
        <div class="">
          <div class="border-b border-gray-900/10 pb-12">
            <div class=" grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <!-- Primera fila -->
              <div class="sm:col-span-2">
                <!-- <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Identificación <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div> -->
                <label for="identificationType" class="block text-sm font-medium leading-6 text-gray-900">Identificación <span class="text-red-600">*</span></label>
                <div class="mt-2 ">
                  <select formControlName="identificationType" id="identificationType" name="identificationType" class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">

                    <option value="DNI" selected>DNI</option>
                    <option value="PASSPORT">PASSPORT</option>
                  </select>
                  <div *ngIf="generalForm.get('identificationType')?.invalid && (generalForm.get('identificationType')?.dirty || generalForm.get('identificationType')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('identificationType')?.hasError('required')">
                      <span >El tipo de identificación es requerido.</span>
                    </div>
                  </div>
                </div>


              </div>

              <div class="sm:col-span-4">
                <label for="identification" class="block text-sm font-medium leading-6 text-gray-900">Nro de identificación <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="identification" type="text" name="identification" id="identification" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div *ngIf="generalForm.get('identification')?.invalid && (generalForm.get('identification')?.dirty || generalForm.get('identification')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('identification')?.hasError('required')">
                      <span >La identificación es requerido.</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Segunda fila -->
              <div class="sm:col-span-2 sm:col-start-1">
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Nombre <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="name" type="text" name="name" id="name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div *ngIf="generalForm.get('name')?.invalid && (generalForm.get('name')?.dirty || generalForm.get('name')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('name')?.hasError('required')">
                      <span >El nombre es requerido.</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="lastname" class="block text-sm font-medium leading-6 text-gray-900">Apellido <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="lastname" type="text" name="lastname" id="lastname" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div *ngIf="generalForm.get('lastname')?.invalid && (generalForm.get('lastname')?.dirty || generalForm.get('lastname')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('lastname')?.hasError('required')">
                      <span >El apellido es requerido.</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="genre" class="block text-sm font-medium leading-6 text-gray-900">Sexo <span class="text-red-600">*</span></label>
                <div class="mt-2 ">
                  <select formControlName="genre" id="genre" name="genre" class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <!-- <option class="">Cedula</option> -->
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                  <div *ngIf="generalForm.get('genre')?.invalid && (generalForm.get('genre')?.dirty || generalForm.get('genre')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('genre')?.hasError('required')">
                      <span >El sexo es requerido.</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Tercera fila -->
              <div class="sm:col-span-2">
                <label for="birthdate" class="block text-sm font-medium leading-6 text-gray-900">Fecha de nacimiento <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="birthdate" type="date" name="birthdate" id="birthdate" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div *ngIf="generalForm.get('birthdate')?.invalid && (generalForm.get('birthdate')?.dirty || generalForm.get('birthdate')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('birthdate')?.hasError('required')">
                      <span >La fecha de nacimiento es requerida.</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="nationality" class="block text-sm font-medium leading-6 text-gray-900">Nacionalidad <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="nationality" type="text" name="nationality" id="nationality" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div *ngIf="generalForm.get('nationality')?.invalid && (generalForm.get('nationality')?.dirty || generalForm.get('nationality')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('nationality')?.hasError('required')">
                      <span >La nacionalidad es requerida.</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Cuarta fila -->
              <div class="sm:col-span-4">
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Monto solicitado <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="requestedAmount" type="number" id="requestedAmount" name="requestedAmount" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div *ngIf="generalForm.get('requestedAmount')?.invalid && (generalForm.get('requestedAmount')?.dirty || generalForm.get('requestedAmount')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('requestedAmount')?.hasError('required')">
                      <span >El monto es requerido.</span>
                    </div>
                  </div>
                </div>

              </div>
              <!-- Quinta fila -->
              <div class="sm:col-span-2 sm:col-start-1">
                <label for="state" class="block text-sm font-medium leading-6 text-gray-900">Provincia <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="state" type="text" name="state" id="state" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div *ngIf="generalForm.get('state')?.invalid && (generalForm.get('state')?.dirty || generalForm.get('state')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('state')?.hasError('required')">
                      <span >La provincia es requerida.</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="city" class="block text-sm font-medium leading-6 text-gray-900">Ciudad <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="city" type="text" name="city" id="city" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div *ngIf="generalForm.get('city')?.invalid && (generalForm.get('city')?.dirty || generalForm.get('city')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('city')?.hasError('required')">
                      <span >La ciudad es requerida.</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="zipcode" class="block text-sm font-medium leading-6 text-gray-900">Codigo postal <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="zipcode" type="text" name="zipcode" id="zipcode"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
              <!-- Sexta fila -->

              <div class="sm:col-span-2 sm:col-start-1">
                <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Dirección <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="address" type="text" name="address" id="address" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div *ngIf="generalForm.get('address')?.invalid && (generalForm.get('address')?.dirty || generalForm.get('address')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('address')?.hasError('required')">
                      <span >La provincia es requerida.</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="apartment" class="block text-sm font-medium leading-6 text-gray-900">Piso/Dpto <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="apartment" type="text" name="apartment" id="apartment" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div *ngIf="generalForm.get('apartment')?.invalid && (generalForm.get('apartment')?.dirty || generalForm.get('apartment')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('apartment')?.hasError('required')">
                      <span >La provincia es requerida.</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Celular <span class="text-red-600">*</span></label>
                <div class="mt-2">
                  <input formControlName="phone" type="text" name="phone" id="phone" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div *ngIf="generalForm.get('phone')?.invalid && (generalForm.get('phone')?.dirty || generalForm.get('phone')?.touched)" class="text-red-600 text-sm mb-2">
                    <div class="mt-1" *ngIf="generalForm.get('phone')?.hasError('required')">
                      <span >La provincia es requerida.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button (click)="createGeneralData()" class="mb-4 bg-blue-500 text-white p-2 mt-2 violeta" [disabled]="!generalForm.valid" type="submit" [ngClass]="{ 'disabled-button': !generalForm.valid }" >Continuar  <i class="fa-solid fa-arrow-right fa-fade"></i></button>

        </div>
      </form>
    </div>
  </div>

</div>

<!-- <app-footer></app-footer> -->
