@import '@angular/material/theming';
 // Be sure that you only ever include this mixin once!
 @include mat-core();

$my-primary-color:(
    50 : #e8eaf6,
    100 : #c5cbe9,
    200 : #9fa8da,
    300 : #7985cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #394aae,
    700 : #3140a5,
    800 : #29379d,
    900 : #1b278d,
    A100 : #c6cbff,
    A200 : #939dff,
    A400 : #606eff,
    A700 : #4757ff
    contrast:(
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,


    )



 );

 /* For use in src/lib/core/theming/_palette.scss */
$md-accent-color: (
    50 : #f4eaef,
    100 : #e4cad7,
    200 : #d3a6bc,
    300 : #c182a1,
    400 : #b3688d,
    500 : #a64d79,
    600 : #9e4671,
    700 : #953d66,
    800 : #8b345c,
    900 : #7b2549,
    A100 : #ffbcd7,
    A200 : #ff89b8,
    A400 : #ff5699,
    A700 : #ff3c8a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-warn-color: (
    50 : #e9e3fa,
    100 : #c9b8f4,
    200 : #a589ec,
    300 : #815ae4,
    400 : #6636df,
    500 : #4b13d9,
    600 : #4411d5,
    700 : #3b0ecf,
    800 : #330bca,
    900 : #2306c0,
    A100 : #eceaff,
    A200 : #bfb7ff,
    A400 : #9284ff,
    A700 : #7b6aff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($md-accent-color);
$my-palette-warn: mat-palette($md-warn-color);

// TEMA PROPIO
$my-theme: mat-light-theme((
    color:(
        primary: $my-palette-primary,
        accent: $my-palette-accent,
        warn: $my-palette-warn
    )
));

// APLICAR NUESTRO TEMA A ANGULAR
@include angular-material-theme($my-theme);

