.a-google:hover{
  background: #7667D1;
  color: white;
}
.boton{
  background: #535AA2;

}
.boton:hover{
  background: #7667D1;
}
img{
  display: flex;
  align-items: center;
}
a:hover{
  color: #7667D1;
}
