.hr-estyles{
    background: #9C9C9CBD;
    border-top: 2px solid #ccc;
    margin-top: 14px;
    margin-bottom: 34px;

}
.labelStyles{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.optionEstyles{
  font-family: Poppins;
  font-size: small;


  background: #9C9C9CBD;

}
.rectangle{
  width: 139px;
  height: 4px;

  background: #535AA2;


}
.styleButton{
  width: 149px;
  height: 46px;
  top: 668px;
  left: 850px;
  border-radius: 8px;
  background: #535AA2;

}
.styleButton:hover{
  background-color: darkslateblue;
}
