.dark{
    background-color:  #000000;
    
}

.lt{
    background-color: #000000;
}
.cabeza{
    background: #000000;
}
.violeta{
    background: rgba(83, 90, 162, 1);

}
.head1{
    background-color: rgba(35, 38, 68, 1);

}