<div class="container mx-auto pb-4 flex justify-center  w-screen items-center">

    
    <footer class="flex justify-center   mt-8  bg-gray-900  w-screen h-3/6">
        <div class="flex flex-row  w-full h-full space-x-4 justify-around ">
            <div class="w-1/3 flex flex-col justify-center items-center">
                <a href="" class="flex items-center  w-1/2">
                    <img src="./../../../../../assets/img/CASHNOW.png" class="h-6 mr-3" alt="" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
                </a>
                <p class=" pt-4 text-white w-1/2">
                    4140 Parker Rd. Allentown, New Mexico 31134
                </p>
            </div>
            <div class=" w-1/3 flex flex-col justify-center  ml-8">
                
                <div class="ml-20 text-white">
    
                    <h1 >Servicio al cliente</h1>
                     <p>Formularios de soporte</p>
                     <p>Preguntas frecuentes</p>
                </div>
                <div class="ml-20  text-white">
    
                    <h1>Contáctanos</h1>
                    <p> <i class="fa-solid fa-phone" style="color: #efeff1;"></i> (219) 555-0114</p>
                </div>
            </div>
            <div class=" w-1/3 flex flex-col  justify-center  ml-8">
                <div class="ml-20  text-white">
    
                    <h1 >Protección al cliente</h1>
                     <p>Términos y condiciones</p>
                     <p>Aviso de privacidad</p>
                </div>
                <div class="ml-20 text-white">
    
                    <h1>Redes sociales</h1>
                    <p> 
                        <i class="fa-brands fa-square-facebook" style="color: #ebeff4; font-size: 30px;"></i> 
                        <i class="fa-brands fa-twitter" style="color: #e2e8f3; font-size: 30px; margin-left:10px ;"></i>
                        <i class="fa-brands fa-instagram" style="color: #f1f4f8; font-size: 30px; margin-left:10px ;"></i>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>